@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
  color: #313133;
}

/* Global Class {Start} */
.btn {
  text-transform: uppercase;
  padding: 8px 1.2rem;
  border-radius: 50px;
  transition: 0.5s ease-in-out;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.btn_black {
  background-color: #ffffff;
  color: #313133 !important;
  margin: 1rem 0;
}

.btn_black:hover {
  color: #ffffff !important;
  background-color: #313133;
}

.btn_aqua {
  background-color: #ffffff;
  color: #313131;
  margin: 1rem 0;
}

.btn_aqua:hover {
  background-color: #80fad1;
}

.btn_aqua_black {
  background-color: #313131;
  color: #ffffff;
  margin: 1rem 0;
}


.btn_aqua:hover {
  background-color: #80fad1;
}

.btn_aqua_white {
  background-color: #80fad1;
  color: #313133;
  margin: 1rem 0;
}

.btn_aqua_white:hover {
  background-color: #ffffff;
}

.btn_black_white {
  background-color: #313131;
  color: #ffffff;
  margin: 1rem 0;
}

.btn_black_white:hover {
  background-color: #80fad1;
}

.cart_btns {
  background-color: #ffffff;
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin: 8px 0;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.cart_btns span {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  transition: .5s ease-in-out;
  font-size: .9rem;
}

.icons_btn:hover {
  background-color: #b0f8e0;
}

.global_letter_box {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.global_letter_box p {
  font-size: 1.2rem;
  color: #ffffff;
  border-top: 2px solid #ffffff;
  font-weight: lighter;
}


.global_letter_box h3 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: lighter;
}

.shopping_global_title {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.shopping_global_title h3 {
  font-size: 2.5rem;
}

.shopping_global_title p {
  width: 100%;
  font-size: 1.2rem;
  margin: 10px 0;
}

.shopping_global_title h4 {
  font-weight: bold;
  font-size: .9rem;
}

.button {
  background-color: #ffffff;
  border-radius: 50px;
  margin: 10px 0;
  padding: .5rem 1.5rem;
}

.error {
  background-image: url('/Images/error.svg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  margin-top: 4rem;
}

.global_bg {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
}

/* Alert Box{Start} */
.alertBox_container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0%;
  top: 0%;
  display: flex;
  transform: scale(0);
  justify-content: center;
  align-items: center;
  transition: .3s;
  z-index: 9999;
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.7);
  }
}

.alert_open {
  transform: scale(1);
  animation: scale .2s linear;
}

.alert_box {
  background-color: #ffffff;
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: .5s ease-in-out;
}

.alert_box i {
  border: 3px solid tomato;
  padding: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert_box i * {
  font-size: 2rem;
  color: tomato;
}

.alert_box h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

/* Alert Box{Start} */

/* Loading {Start} */
.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader>span {
  display: inline-block;
  background-color: purple;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transform: translate3d(0);
  opacity: 1;
  margin: 0 8px;
  animation: bounce .6s infinite alternate;
}

.loader>span:nth-child(2) {
  background-color: palevioletred;
  animation-delay: 0.2s;

}

.loader>span:nth-child(3) {
  animation-delay: 0.4s;

}

@keyframes bounce {
  to {
    width: 16px;
    height: 16px;
    transform: translate3d(0, -16px, 0);
  }
}

/* Loading {End} */

/* Footer {Start} */

.footer_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: minmax(650px, 300px);
  align-items: center;
}


.footer_container * {
  text-transform: uppercase;
  font-weight: bold;
}

.footer_container .footer_item2 a,
.footer_container .footer_item3 a {
  transition: .5s ease-in-out;
  padding: .2rem 0 !important;
  display: block;

}

.footer_container a:hover {
  color: #80fad1;
}

.footer_item1 {
  width: 100%;
  height: 100%;
}

.footer_item1 ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer_item1 ul li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer_item1 ul li img {
  width: 120px;
  height: 120px;
}

.footer_item1 ul .icons {
  width: 100%;
}

.footer_item1 ul .icons a {
  padding: 1rem;
}

.footer_item2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_item2 ul {
  padding: 1rem;
}

.footer_item3 ul {
  padding: 1rem;
}

.footer_header span {
  border-top: 2px solid #313131;
  margin: .2rem 0;
  display: inline-block;
  padding: .3rem 0;
  font-size: .9rem;
}

.baby_footer {
  width: 100%;
  background-color: #80fad1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
  font-weight: bold;
  height: 40px;
}

.baby_footer img {
  width: 15px;
  height: 15px;
  object-fit: cover;
  margin: 0 .5rem;
}

/* Footer {End} */

/* LightBox {Start} */
.lightBox_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: translate .4s alternate;
  transform: translateY(0px);
}

@keyframes translate {
  from {
    transform: translateY(-300px);
    opacity: .1;
  }

  to {
    transform: translateY(0px);
    opacity: .8;
  }
}


.lightBox {
  width: 80%;
  height: 300px;
  background-color: #ffffff;
}

.box_bg {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.lightBox ul {
  display: flex;
  align-items: center;
  background-color: #313131;
  width: 100%;
  height: 20%;
  justify-content: space-between;
}

.lightBox ul li:first-child {
  color: #ffffff;
  width: 25%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.lightBox ul li:last-child {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lightBox ul li .btn_black {
  background-color: #14ca8c;
  color: #ffffff !important;
}

.lightBox ul li .btn_black:hover {
  background-color: #ffffff;
  color: #313131 !important;
}

.lightBox ul li .btn_aqua {
  border: none;
  cursor: pointer;
  outline: none;
}

.lightBox ul li .btn_aqua:hover {
  background-color: #14ca8c;
  color: #ffffff !important;
}

.close {
  display: none;
}

/* LightBox {End} */

/* Global Class {End} */

/* Nav bar{Start} */
.container {
  width: 100%;
  visibility: hidden;
  transition: 0.5s;
  position: fixed;
  top: -80px;
  z-index: 1000;
}

.show_container {
  visibility: visible;
  left: 0;
  top: 0px;
}

.navbar {
  width: 100%;
  height: 70px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  background-color: #ffffff;
  z-index: 9999;
}

.navbar.show_navbar {
  height: 300px !important;
}

.logo-img {
  width: 70px;
  height: 70px;
}

.nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bamburger_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 50px;
  cursor: pointer;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.bamburger_menu span {
  width: 40px;
  height: 2px;
  background-color: #000000;
  display: block;
  position: relative;
  transition: 0.1s ease-in-out;
}

.bamburger_menu span::before,
.bamburger_menu span::after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  top: 8px;
  background-color: #000000;
  display: inline-block;
  transition: 0.3s;
}

.bamburger_menu span::before {
  top: -8px;
}

.toggle span::before,
.toggle span::after {
  top: 0;
}

.cart_number {
  background-color: #80fad1;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_box {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.nav_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: 150px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  transition: 0.7s ease-in-out;
  transform: translateY(20px);
}

.nav_grid.transform {
  transform: translateY(50px);
}

.navigation {
  height: 100%;
  width: 100%;
  margin: auto;
}

.nav_child {
  height: 100%;
  width: 100%;
}

.nav_child ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  justify-content: center;
}

.nav_child ul li {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_child ul li>* {
  color: #000000;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

.link_nav:hover {
  color: #80fad1;
}

.nav_hide {
  display: none;
}

.icons {
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icons a {
  font-size: 1.6rem;
  transition: 0.5s ease-in-out;
}

.icons a:hover {
  transform: translateY(-8px);
}

.nav_child ul .main_nav {
  padding: 0.5rem 0;
  display: block;
  position: relative;
}

.main_nav::after {
  content: "";
  background-color: #000000;
  height: 2px;
  transform: translateY(10px);
  width: 100%;
  display: block;
}

/* Nav bar{End} */

/* Home {Start} */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/Images/bg4.jpg");
  background-position: center;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Header_name {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #80fad1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  z-index: 999;
  transition: 0.5s ease-in-out;
}

.scrolledNone {
  top: -100px;
}

.Header_name img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 0.8rem;
}

.Header_name p {
  font-size: 0.8rem;
}

.logo_white {
  width: 150px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.logo_white_letter {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_white_letter>* {
  font-weight: lighter;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
}

.logo_white_letter h3 {
  font-size: 4rem;
  margin-top: 3rem;
}

.logo_white_letter p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.article_container {
  width: 100%;
  height: 400px;
  position: relative;
}

.article_box1 {
  width: 100%;
  height: 65%;
  background-color: #80fad1;
  display: flex;
  align-items: center;
}

.article_letter {
  transform: translateX(30px);
  width: 50%;
  padding: 2rem;
}

.article_letter p {
  font-size: 1.1rem;
  margin: 1.2rem 0;
}

.article_box2 {
  height: 30%;
  display: flex;
}

.article_box2 h3 {
  margin: auto;
  transform: translateY(30px);
  font-size: 2.5rem;
  font-weight: lighter;
}

.jars {
  width: 350px;
  height: 350px;
  object-fit: cover;
  transform: translateX(150px) translateY(50px);
}

/* Banner {Start} */
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 600px;
  width: 100%;
  padding-top: 2rem;
  z-index: 999;
}

.banner1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url('/Images/bgPromo.png');
  background-position: center;
  background-size: cover;
}

.banner1_letter {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner1_letter h3 {
  font-size: 2.5rem;
}

.banner1_letter p {
  font-size: 1.2rem;
  margin: .5rem 0;
  width: 70%;
}


.banner2 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('/Images/explore.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.banner2_letter {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: translateY(80px);
  transition: .5s ease-in-out;
  text-align: center;
}

.banner2:hover .banner2_letter {
  transform: translateY(-20px);
}

.banner2_letter .btn_aqua {
  transform: translateY(80px);
}

.banner2:hover .banner2_letter .btn_aqua {
  transform: translateY(-15px);
}

/* Banner {End} */

/* Artist_container{Start} */
.artist_container {
  display: grid;
  grid-template-columns: 40% 1fr;
  width: 100%;
  height: 400px;
}

.artist_child1 {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #313131;
}

.artist_child2 {
  background-image: url('/Images/art-5.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}


/* Artist_container{End} */

/* Child support {Start} */
.child_support {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #80fad1;
}

.child_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.child_img img {
  width: 60%;
  height: 60%;
  border-radius: 100%;
}

.child_support .global_letter_box {
  width: 50%;
  text-align: start;
  align-items: flex-start;
}

.child_support .global_letter_box * {
  color: #313131;
  border-color: #313131;
}

/* Child support {End} */

/* Home {End} */


/* Shop {Start} */

.shop_header {
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.shop_header h3 {
  transform: translateY(-30px);
  font-size: 3rem;
  font-weight: lighter;
}

.card {
  width: 100%;
  height: 400px;
  margin: 20px 0;
  display: flex;
}

.odd {
  flex-direction: row-reverse !important;
}

.card_child1 {
  background-color: #80fad1;
  width: 30%;
  display: flex;
  align-items: center;

}


.card_child2 {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 70%;
}


.card_child1 .global_letter_box {
  align-items: flex-start !important;
  padding: 0 2rem;
}

.card_child1 .global_letter_box * {
  color: #313131;
  border-color: #313131;
}

.card_child1 .global_letter_box p {
  font-size: 1rem;
  margin: .5rem 0;
}

.refil_container {
  background-color: #80fad1;
  height: 1100px;
  width: 100%;
  overflow-x: scroll;
}

.refil_shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.refil_item {
  width: 33.33%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.circle_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}

.refil_item .global_letter_box>* {
  color: #313131;
  border-color: #313131;
}

.refil_item .global_letter_box p {
  font-size: .9rem;
  margin-top: 1rem;
}

.refil_item .global_letter_box h3 {
  font-size: 1.5rem;
}

.refil_item .global_letter_box button {
  transform: translateY(80px);
  transition: .5s ease-in-out;
}

.refil_item:hover .global_letter_box button {
  transform: translateY(0);
}

.artist_prints {
  background-color: #ffffff;
  width: 100%;
  overflow-x: scroll;
  height: 420px;
  overflow-y: hidden;
}

.print_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  cursor: pointer;
  height: 400px;
  z-index: 999;
}

.print_item .global_letter_box {
  background-image: url('/Images/art-5.jpg');
  background-position: center;
  background-size: cover;
  height: 80%;
  justify-content: flex-end;
  position: relative;
}

.global_letter_box::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.print_item .global_letter_box button {
  transform: translateY(200px);
  transition: .5s ease-in-out;
}

.print_item:hover button {
  transform: translateY(80px);
}

.print_title {
  background-color: #80fad1;
  height: 300px;
}

.print_title p {
  width: 30%;
}

.git {
  background-color: #ffffff;
  height: 600px;

}

.git_title {
  font-size: 2rem;
  height: 20%;
  display: grid;
  place-content: center;
  background-color: #e9e5e5;
}

.git_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.git_item {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.git_item .global_letter_box {
  transition: .5s ease-in-out;
  transform: translateY(30px);
}

.git_item:hover .global_letter_box {
  transform: translateY(-50px);
}

.git_item .global_letter_box article {
  width: 50%;
  margin: 2rem 0;
  color: #ffffff;
}

/* Shop {End} */

/* Single shop Cart {Start} */

.shop_bg {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 500px;
  min-height: 500px;
}

.order_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 600px;
  overflow: hidden;
}

.order_item1 {
  width: 100%;
  height: 100%;
  background-color: #80fad1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order_item1_data {
  height: 70%;
  width: 100%;
  border-bottom: 1px solid #a09f9f;
}

.order_item1_letter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.order_item1_letter h4 {
  display: inline-block;
  text-transform: uppercase;
  border-top: 2px solid #313131;
  padding-top: 3px;
}

.order_item1_letter h3 {
  font-size: 2.5rem;
  font-weight: lighter;
  margin: 5px 0;
}

.order_box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.order_btn_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.order_box h3 {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
}

.order_btns button {
  border: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
  width: 150px;
  height: 40px;
  margin: 8px 0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.order_btns button span:first-child {
  height: 100%;
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: center;
}

.order_btns button span:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.order_btn_hover {
  transition: .5s ease-in-out;
  background-color: #b0f8e0;
}

.order_btn_hover:hover {
  background-color: #ffffff;
}




.order_addtocart {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price_box {
  text-transform: uppercase;
  text-align: center;
}

.order_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description_letter {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.description_letter h3 {
  margin: 1rem 0;
  font-size: .9rem;
  text-transform: uppercase;
}

.description_letter p {
  font-size: 1.11rem;
}

.ingredient {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}

.ingredient li:nth-child(1) {
  font-size: 1rem;
  margin: 5px 0;
}

.ingredient li {
  font-size: 1.2rem;
  margin: 3px 0;
  font-weight: bold;
}

.requirements {
  width: 100%;
  height: 20%;
}

.requirements {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.requirements li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.cercle {
  width: 400px;
  height: 400px;
  object-fit: cover;
  position: absolute;
  bottom: -150px;
  right: -100px;
  z-index: -1;
}

.order_img {
  width: 350px;
  height: 350px;
  transform: translateY(50px);
}

.order_img_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.order_btn {
  transform: translateY(100px) translateX(-50px);
}

.requirement_icon {
  width: 40px;
  height: 40px;
  margin: 10px;
}

/* Single shop Cart {End} */

/* Add to cart{Start} */

.empty_cart {
  width: 100%;
  grid-row: 1/3;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 1/4;
}

.empty_cart h3 {
  color: #ffffff;
  font-size: 2rem;
}

.addtocart_container {
  background-color: #313131;
  width: 100%;
  min-height: 700px;
  grid-template-rows: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.addtocart_container .addCart_header {
  grid-column: 1/4;
  justify-self: center;
  align-self: flex-end;
}

.addtocart_container .addCart_header h3 {
  color: #ffffff;
  font-size: 3rem;
}

.cart_container {
  grid-column: 1/3;
  display: grid;
  justify-content: center;
  grid-auto-rows: 300px;
  grid-template-columns: 1fr;
  align-items: center;
}

.cart_child {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addCard_box {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addCard_box h1 {
  color: #ffffff;
}

.addCard_box h3 {
  color: #80fad1;
  text-transform: uppercase;
  margin: .5rem;
}

.addCard_box h3 span {
  color: #ffffff;
  margin-left: 2rem;
}

.delete_icon * {
  cursor: pointer;
}

.delete_icon i {
  background-color: #80fad1;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  transition: .5s ease-in-out;
}

.delete_icon i * {
  font-size: .8rem;
  transition: .5s ease-in-out;
}

.delete_icon i:hover {
  background-color: #14ca8c;
}

.delete_icon i:hover * {
  color: #ffffff;
}

.prceed_container {
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}

.prceed_container h1,
.prceed_container h3 span {
  color: #ffffff;
}

.prceed_container h3 {
  color: #14ca8c;
  font-size: 1.1rem;
  margin: .5rem 0;
}

.prceed_container p {
  color: #635e5e;
  font-size: .8rem;
  margin: 1rem 0;
}

.prceed_container h3 span {
  margin-left: 2rem;
  font-size: .9rem;
}

/* Add to cart{End} */

/* About {Start} */

.about_founder {
  background-color: #80fad1;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about_letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  transform: translateY(-50%);
}

.about_founder img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.about_founder h3 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.about_founder p {
  font-size: 1.5rem;
}

.about_cup {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about_cup_letter {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.about_cup_letter h3 {
  font-size: 2rem;
}

.about_cup_letter p {
  width: 80%;
  font-size: 1.2rem;
}

.about_cup_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about_cup_img .jar {
  width: 350px;
  height: 350px;
  transform: translateY(100%);
  z-index: 9;
}

.about_cup_img .circle {
  width: 130%;
  height: 130%;
  transform: translateY(30%);
}

.about_process {
  display: grid;
  width: 100%;
  grid-auto-rows: 500px;
  grid-template-columns: 1fr 1fr;
}

.process_bg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url('/Images/founder-sefile.jpg');
}

.process_letter {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #313133;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}

.process_letter * {
  color: #ffffff;
}

.process_letter h3 {
  font-size: 2rem;
  margin: 1rem 0;
}

/* About {End} */

/* Aritist {Start} */
.about_artist {
  width: 100%;
  height: 400px;
  background-color: #80fad1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.artist_info {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}

.artist_info h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.artist_info img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.artist_bio {
  width: 50%;
}

.artist_bio h3 {
  width: 25px;
  border-top: 2px solid #313131;
  font-size: .9rem;
}

.artist_bio p {
  font-size: 1.2rem;
  margin: .3rem 0;
}

/* Artist {End} */
/* Charity {Start} */
.child_container {
  width: 100%;
  height: 400px;
  background-color: #80fad1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.child_info {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30%;
}

.child_info img {
  width: 150px;
  height: 150px;
}

.child_bio {
  width: 50%;
}

.child_bio h3 {
  font-size: .9rem;
}

.child_bio p {
  margin: 1rem 0;
}

/* Charity {End} */

/* Contact {Start}*/

.contact {
  padding: 15rem 0 20rem 0;
  text-align: center;
  background: url('/Images/contact-us-bg.png') center no-repeat;
  background-size: cover;
  animation: contact-bg 35s infinite;
}

.contact-heading {
  font-size: 7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #ffffff;
  text-shadow: 0 1rem 2rem #000;
  margin-bottom: 8rem;
}

.contact-form {
  width: 70rem;
  height: 50rem;
  background-color: rgba(255, 255, 255, 0.95);
  margin: auto;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 3rem #000;
  padding: 5rem;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  position: relative;
}

.input-groups {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-groups .input-group {
  width: 48.5%;
}

.input-group input,
.input-group textarea {
  padding: 3rem 1rem 1rem 1rem;
  background-color: var(--secondary-color);
  border: 0.1rem solid var(--secondary-color);
  font-size: 1.4rem;
  color: var(--light-grey-color);
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  transition: border 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
  border: 0.1rem solid #ccc;
}

.input-group label {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--grey-color);
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.form-btn {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  background-color: #313131;
  color: #ffffff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s;
}

.form-btn:hover {
  background-color: var(--grey-color);
}

.input-group textarea {
  max-height: 15rem;
  max-width: 100%;
}
@keyframes contact-bg {
  0% {
    background-color: #3d3d3d;
  }

  25% {
    background-color: #ced8e4;
  }

  50% {
    background-color: #1e81f3;
  }

  75% {
    background-color: #ff7842;
  }

  100% {
    background-color: #3d3d3d;
  }
}

/* Contact {End}*/

@media only screen and (max-width: 980px) {
  .nav_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav_hide {
    display: block;
  }

  .nav_child ul .hide {
    display: none;
  }

  .nav_child ul {
    border: 1px solid #000000;
    border-left: none;
    border-top: none;
  }

  .nav_child .bordernone {
    border-bottom: none;
  }

  .right ul {
    border-right: none;
  }

  .main_nav::after {
    display: none;
  }

  .logo_white {
    width: 80px !important;
    height: 150px;
  }

  .banner2_letter {
    transform: translateY(-40px);
  }

  .banner2_letter .btn_aqua {
    transform: translateY(0px);
  }


  .child_support {
    height: 300px;
  }

  .child_support .global_letter_box {
    width: 65%;
  }

  .child_support .global_letter_box h3 {
    font-size: 1.6rem;
  }

  .footer_container {
    grid-template-columns: 1fr 1fr;
  }

  .footer_item1 {
    grid-column: 1/3;
  }

  .footer_item1 ul {
    flex-direction: row;
  }

  .footer_item1 ul .icons {
    justify-content: flex-end;
  }

  .card_child1 {
    width: 40%;
  }

  .card_child2 {
    width: 60%;
  }

  .card_child1 .global_letter_box {
    align-items: center !important;
  }

  .shop_header h3 {
    font-size: 2.5rem;

  }

  .refil_item img {
    width: 150px;
    height: 150px;
  }

  .refil_item .global_letter_box button {
    transform: translateY(0px);
  }

  .print_container {
    grid-template-columns: repeat(6, minmax(450px, 1fr));
  }

  .print_item .global_letter_box button {
    transform: translateY(80px) translateX(50px);
  }


  .lightBox ul li:first-child {
    width: 45%;
  }

  .lightBox ul li:last-child {
    width: 60%;
  }

  .git {
    height: 400px;

  }

  .git_item .global_letter_box {
    transform: translateY(-30px);
  }


  .git_item .global_letter_box article {
    display: none;
  }


  .order_container {
    grid-template-columns: 1fr 1fr;
  }

  .order_item1 {
    grid-column: 1/3;
    height: 100%;
  }

  .order_item1_data {
    border-color: transparent;
  }


  .description_letter {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
  }

  .description_letter h3 {
    margin: 1rem 0;
    font-size: .9rem;
    text-transform: uppercase;
  }

  .description_letter p {
    font-size: 1.11rem;
  }

  .ingredient {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
  }

  .addtocart_container {
    grid-template-columns: 1fr;
  }

  .addtocart_container .addCart_header {
    grid-column: 1/1;
  }


  .cart_container {
    grid-column: 1/1;
    grid-auto-rows: 400px;
  }

  .addCard_box {
    width: 70%;
  }

  .addCard_box img {
    width: 150px;
    height: 150px;
  }

  .alert_box {
    width: 50%;
    height: 30%;
  }

  .error {
    height: 500px;
    margin-top: 5rem;
  }



  .about_cup_letter {
    text-align: center;
  }

  .about_cup_img .jar {
    width: 300px;
    height: 300px;
    transform: translateY(90%);
  }

  .about_cup_img .circle {
    width: 120%;
    height: 120%;
  }

  .process_letter {
    padding: 1rem;
  }

  .artist_info {
    width: 40%;
    transform: translateY(0%);
  }

  .artist_bio {
    width: 60%;
    margin: .8rem;
  }

  .artist_bio p {
    font-size: 1rem;
  }

  .child_bio {
    width: 80%;
  }

  .contact-heading {
    font-size: 4rem;
  }
  
  .contact-form {
    width: 40rem;
    height: 38rem;
  }
}

@media only screen and (max-width: 800px) {
  .logo_white_letter h3 {
    margin-top: 9rem;
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  .logo_white_letter img {
    width: 300px;
  }

  /* Article {Start} */
  .article_container {
    height: 600px;
  }

  .article_letter {
    transform: translateX(0px);
    width: 100%;
  }

  .article_box2 {
    height: 15%;
  }

  .article_box1 {
    height: 85%;
    flex-direction: column;
  }

  .jars {
    transform: translateX(200px) translateY(-50px);
  }

  /* Article {End} */
}

@media only screen and (max-width: 480px) {
  .article_container {
    height: 800px;
  }

  .jars {
    transform: translateX(20px) translateY(20px);
  }

  .banner {
    grid-template-columns: 1fr;
    height: 900px;
  }

  .artist_container {
    grid-template-columns: 1fr;
  }

  .child_support {
    height: 500px;
    flex-direction: column;
  }

  .child_img img {
    width: calc(83vw - 5rem);
    height: calc(83vw - 5rem);
  }

  .child_support .global_letter_box {
    width: 100%;
    padding: 0 2rem;
  }

  .footer_container {
    grid-template-columns: 1fr;
  }

  .footer_item1 {
    grid-column: 1;
  }

  .footer_item1 ul {
    flex-direction: column;
  }

  .footer_item1 ul .icons {
    justify-content: center;
  }

  .footer_container ul li {
    justify-content: flex-start !important;
    padding-left: 1rem;
  }

  .footer_item2 {
    justify-content: flex-start;
  }

  .card {
    flex-direction: column;
  }

  .odd {
    flex-direction: column !important;
  }

  .card_child1 {
    width: 100%;
  }

  .card_child2 {
    width: 100%;
  }

  .card_child1 .global_letter_box {
    align-items: flex-start !important;
    padding: 2rem 3rem;
    text-align: start;
  }

  .refil_item {
    width: 1000%;
  }

  .print_container {
    grid-template-columns: repeat(6, minmax(300px, 1fr));
  }

  .box_bg {
    height: 70%;
  }

  .lightBox ul {
    width: 100%;
    height: 30%;
    flex-direction: column;
  }

  .lightBox ul li:first-child {
    width: 100%;
  }

  .lightBox ul li:last-child {
    width: 100%;
  }

  .git {
    height: 800px;

  }

  .git_title {
    font-size: 1.5rem;
  }

  .git_container {
    grid-template-columns: 1fr;
  }

  .shopping_global_title p {
    width: 80%;

  }

  .order_container {
    grid-template-columns: 1fr;
  }

  .order_item1 {
    grid-column: 1;
    height: 100%;
  }

  .addCard_box {
    flex-direction: column;
    width: 80%;
  }

  .alert_box {
    width: 100%;
    height: 30%;
    transform: scale(.8);
  }

  .error {
    height: 220px;
  }

  .about_cup {
    height: 800px;
    grid-template-columns: 1fr;
  }

  .about_cup_letter {
    padding: 2rem;
  }

  .about_cup_img .jar {
    width: 300px;
    height: 300px;
    transform: translateY(80%);
  }

  .about_process {
    grid-template-rows: 400px 300px;
    grid-template-columns: 1fr;
  }

  .process_letter {
    padding: 0 1rem;
  }

  .about_artist {
    height: 800px;
    flex-direction: column;
  }

  .artist_info {
    width: 100%;
    flex-direction: column;
  }

  .artist_bio {
    width: 100%;
    padding: 1rem;
    transform: translateY(-1rem);
  }

  .child_container {
    height: 800px;
    flex-direction: column;
  }

  .child_info {
    flex-direction: column;
  }

  .child_bio {
    width: 100%;
    padding: 1rem;
  }
  .input-group {
    width: 100%;
    display: flex;
    flex-direction: row;
  }.input-groups {
    flex-direction: column;
  }.contact-form {
    height: 55rem;
  }.form-btn {
    width: 50%;
    transform: translateX(-6rem);
  }
}